table {
    border-collapse: collapse;
    background-color: #E9ECFF;
}

td,
th {
    width: 100px;
    height: 30px;
    text-align: center;
}

th {
    background-color: #B9C8FF;
    color: #1D2F91;
}

tr {
    border: 2px solid white;
}

/*Product Exercise*/
.text-box-container {
    display: flex;
    flex-direction: column;
}

.text-box {
    width: 150px;
    height: 25px;
    margin-bottom: 10px;
    border: 2px solid #B9C8FF;
}

.text-box-disable {
    border: 1px solid #B9C8FF;
}

.select-method {
    border: 2px solid #B9C8FF;
    height: 25px;
}

.button-add {
    background-color: #2c51d6;
    border: 1px solid #2c51d6;
    border: 0;
    color: white;
    font-weight: bold;
    width: 70px;
    height: 25px;
}

.button-add:hover {
    cursor: pointer;
    background-color: #B9C8FF;
    color: black;
}

.button-add:active {
    background-color: #1c389b;
    color: white;
}
<<<<<<< Updated upstream

/*Flex-box*/

.flex-container{
    display: flex;
    background-color: #B9C8FF;
}

.flex-item{
    background-color: #2c51d6;
    padding: 30px;
    margin: 10px;
    text-align: center;
}

/*Responsive*/

.site-header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .site-header nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

=======
*/
>>>>>>> Stashed changes
